@model AgriEnergyConnect.Models.Register
@{
    ViewData["Title"] = "PendingReg";
}

<h2>Registration Complete</h2>

<p>Thank you for registering as a farmer with AgriEnergyConnect. Your account is pending approval by an employee. Please wait patiently until your account is activated.</p>
