@{
    ViewData["Title"] = "Dashboard";
}

<h2>Employee Dashboard</h2>

<ul>
    <li><a asp-controller="Employee" asp-action="AddFarmer">Add Farmer</a></li>
    <li><a asp-controller="Employee" asp-action="ViewFarmers">View Farmers</a></li>
    <li><a asp-controller="Employee" asp-action="ViewProducts">View Products by Category</a></li>
</ul>
